@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, button, textarea, h1, h2, h3 {
	font-family: 'GmarketSansMedium';
    letter-spacing: -1px;
    line-height: 1.8em; 
    color: #444;
}

body {
	margin: 0 auto;
	height: 100%;
	width: 1200px;
}

.orange {
	color: #FF6300;
}

.orangebg {
    background-color: #FF6300;
    color: #EEE;
}

.soft {
    color: #F0E5DE;
}

.softbg {
    background-color: #F0E5DE;
}

.grey {
    color: #a3a1a1;
}

.greybg {
    background-color: #a3a1a1;
    color: #F0E5DE;
}

.red {
    color: #EF1804;
}

.divider {
    background-color: #FF6300;
    width: 100%;
    height: 5px;
    position: relative;
    top: -30px;
    
}

.btn {
    width: 120px;
    height: 40px;
    outline: none;
}

.headerBtn {
    width: 82%;
    height: 50px;
    margin: 0px auto;
    position: relative;
    top: 0px;
}

.headerBtn #btn1 {
    float: left;
}

.headerBtn #btn2 {
    float: right;
}

.headerBtn #btn1 .btn,
.container .mypageBtn .btn {
    font-size: 1em;
    margin-right: 5px;
}

.headerBtn #btn2 .btn {
    width: 100px;
    font-size: 1em;
}

.headerBtn #btn2 .btn:hover {
    opacity: .8;
    color: #EEE;
}

.headerBtn div::after {
    content: "";
    display: block;
    clear: left;
}

.container {
    position: relative;
    top: 10px;
    width: 85%;
    height: auto;
    padding-bottom: 50px;
}

.container .mypageBtn .btn:first-child {
    background-color: #FF6300;
    color: #EEE;
}

.container .mypageBtn .btn:first-child:hover {
    opacity: .8;
}

.container .mypageBtn .btn:nth-child(2) {
    background-color: #a3a1a1;
    color: #F0E5DE;
}

.container .mypageBtn .btn:nth-child(2):hover {
    background-color: #FF6300;
    color: #EEE;
}

.container .mypageBtn .search {
    width: 220px;
    float: right;
}

.container .mypageBtn .search input[type="text"] {
    width: 170px;
    float: left;
}

.container .mypageBtn .search i {
    background-color: #FF6300;
    color: #EEE;
    border-radius: 50%;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.container .alarmwell th:nth-child(2) {
    font-size: 2.5em;
}

.container .alarmwell th:nth-child(3){
    font-size: 1.4em;
}

.container .alarmwell img {
    width: 100px;
    margin-left: 20px;
}

.container .page-header {
    font-size: 1.5em;
}

.container .page-header img {
    width: 40px;
}

.container .page-header small {
    margin-left: 10px;
    font-variant: small-caps;
    color: #a7a7a2;
}

.container .table th,
.container .table td {
    text-align: center;
    font-size: 1.1em;
}

.container .backPostBtn {
    float: right;
    width: 140px;
    opacity: .7;
}

.container .backPostBtn:hover {
    background-color: #F0E5DE;
    color: #FF6300;
    opacity: 1;
}

.container .tables {
    height: 210px;
}

.container .readTable, 
.container .recTable, 
.container .comTable {
    width: 280px;
    float: left;
    margin-left: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container .readTable img, 
.container .recTable img, 
.container .comTable img {
    width: 30px;
}

.container .readTable th,
.container .recTable th, 
.container .comTable th {
    height: 40px;
}

.container .readTable td,
.container .recTable td, 
.container .comTable td {
    text-align: left;
    text-indent: 2em;
    cursor: pointer;
}

.container .tables::after {
    content: "";
    display: block;
    clear: left;
}

.container .commuTable {
    margin-top: 15px;
}

.container .commuTable tr:hover {
    cursor: pointer;
}

.container .commuTable tr:first-child:hover {
    cursor: inherit;
    background-color: #F0E5DE;
}

.container .commuTable tr:last-child {
    border-bottom: 1px solid #DDD;
}

.container .writeBtn {
    float: right;
}

.container .writeBtn:hover {
    background-color: #F0E5DE;
    color: #FF6300;
}