/* main.css */
/*
주황색 : #FF6300

*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, button, textarea, h1, h2, h3 {
	font-family: 'GmarketSansMedium';;
}

body {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* main-index */
#main-index {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.main-welcome {
	width: 900px;
	height: 500px;
	text-align: center;
	background-image: url('/living/resources/images/main-night.png');
	background-repeat: no-repeat;
}

.main-welcome h1 {
	padding-top: 50px;
	padding-bottom: 20px;
	color: #FF6300
}

.main-welcome p {
	width: 60%;
	display: inline-block;
	margin-top: 15px;
	color: #eee;
}

.main-box {
	margin-top: 30px;
}



#main-thumbnail .image {
	width: 800px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: 0px -630px;
	float:left;
}

#main-recipe {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
}
/*
#main- {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
}
#main- {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
}
#main- {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
}
*/

#main-thumbnail .link a{
	width: 50px;
	font-size: 2.5em;
	float: right;
	color: #FF6300;
	border-right: 5px solid #777;
}

#main-thumbnail .link:hover a{
	color:  #666;
	text-decoration: none;
}

#main-thumbnail::after {
	content: '';
	display: block;
	clear: both;
}

/* header-cklee */
#header .navbar {
	min-height: 80px;
}

#header #logo {
	height: 50px;
}

#header .navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1.3em;
}

#header .navbar-nav>li:nth-child(1)>a {
	margin-left: 90px;
}

#header .navbar-nav>li:nth-child(n+6)>a {
	color: #FF6300;
	font-size: 1em;
	padding: 0px;
	margin: 20px 10px;
}

#header .navbar-nav>li:nth-child(5)>a {
	margin-right: 30px;
}

#header .navbar-default .navbar-nav>.open>a, #header .navbar-default .navbar-nav>.open>a:hover,
	#header .navbar-default .navbar-nav>.open>a:focus {
	color: #FF6300;
}


/* footer-cklee */
#footer {
	text-align: center;
}

#footer #footer-text {
	float: none;
}

#footer>.p-link {
	margin-top: 50px;
}

#footer>.p-link>a {
	color: #FF6300;
	margin-left: 10px;
	margin-right: 10px;
}



.middle {
	width: 1100px;
	background-color: #F8F9FA;
	padding-left: 200px;
	padding-top: 30px;
	height: 250px;
	margin-left: 50px;
	border-radius: 10px;
}

.middleContent {
	width: 800px;
	background-color: #F8F9FA;
	height: 250px;
	margin-left: 200px;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

.middleTitle {
	color: white;
	position: absolute;
	top: 290px;
	left: 300px;
	font-size: 1.9em;
}

.middleSub {
	font-size: 0.8em;
	color: white;
	position: absolute;
	top: 274px;
	left: 300px;
	
}

.short {
	width: 300px;
	display: inline-block;
}

.middleSearch {
	width: 900px;
	margin-left: 200px;
	margin-top: 40px;
}

.menuInfo {
	
	width: 1100px;
	padding-left: 180px;
	height: 50px;
	margin-left: 50px;
	margin-top: 50px;
	padding-bottom: 3px;
}

.menuLine {
	
	width: 380px;
	margin-left: 200px;
	height: 4px;
	border-top: 2px solid #FF6300;
}

.menuTitle {
	display: inline-block;
	font-size: 1.5em;
}

.menuTitleSub {
	font-size: 0.6em;
	color: #777;
}

.lowerWrapper {
	margin-top: 15px;
	width: 800px;
	margin-left: 100px;
	
}

.go {

	width: 300px;
	text-align: center;
	height: 50px;
	margin-right: 5px;

}
.leftArticle {
	wdith: 350px;
	float: left; 
}

.rightArticle {
	width: 350px;
	float: left;
	margin-left: 200px;
	padding-top: 30px;
}

.marketIMG {
	margin-left: 500px;
}

.areaFind {
	font-size: 1.2em;
}


.bottomWrapper {
	margin-top: 50px;
	margin-left: 200px;
	width: 900px;
}

.rItemWrapper {
	width: 900px;
	

}

.infoTitle {

	border-radius: 10px;
	
}
.boxContent { 
	
	/*background-color: #FFF4EE;*/
	
	height: 60px;
	width: 800px;
	margin-top: 50px;
	border-radius: 5px;
}


.jobContent {
	float: left;
	margin-right: 20px;
}


.leftSide {
	float: left;
	width: 300px;
	height: 50px;
	margin-top: 20px;
	background-color: #F8F9FA;
	text-align: center;
	padding-top: 10px;
}

.rightSide {
	float: left;
	width: 300px;
	height: 50px;
	margin-top: 20px;
	background-color: #FFF4EE;
	text-align: center;
	padding-top: 10px;
}


.infoR {
	float: left;
	width: 266px;
	border: 1px solid #eee;
	height: 80px;
	padding-top: 10px;
	padding-left: 20px;
}


.infoRWrapper {
	border-top: 3px solid #FF6300;
	width: 800px;
	
}


.infoBottom {
	width: 800px;
	text-align: center;
	height: 40px;
	padding-top: 10px;
	border-radius: 3px;
	background-color: #F8F9FA; 
	margin-top: 10px;
}



.storySCut {
	width: 400px;
	height: 270px;
	margin-right: 100px;
	float: left;
	
}


.storyHeader {
	
	background-color: #FF6300;
	color: white;
	height: 25px;
	border-radius: 3px;	
	padding-left: 10px;
	
}


.storyDate {
	color: #777;
}


.wageInfo {
	wdith: 270px;
	height: 270px;
	float: left;
	text-align: center;
	border: 1px solid #eee;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}


.impact {
	
	color: #FF6300;
	font-size: 1.6em;
}

.normal {
	fonr-size: 0.8px;
}


.onedayContent {
	
	width: 800px;
}

.rItem {
	padding-left: 10px;
	height: 60px;

}

.rTitle {
	display: inline-block;
	margin-left: 100px;
	font-size: 1.2em;
	font-weight: bold;
}


.rWage {
	display: inline-block;
	margin-left: 175px;
	color: #FF6300;
	font-size: 1.1em;
}

.rRegdate {
	display: inline-block;
	margin-left: 190px;
	font-size: 0.8em;
	color: #999;
}

.rAddress {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.8em;
	color: #999;
}

.rPoint {
	color: #777;
	margin-left: 110px;
}


.announcementUpper {
	width: 800px;
	height: 360px;
	border: 1px solid #eee;
	border-radius: 3px;
	padding-top:5px;
}

.announcementLower {

	width: 800px;
	height: 340px;
	/*border: 1px solid #eee;*/
	border-radius: 3px;
	margin-top: 15px;
	
}

.announcementLine {
	width: 570px;
	height: 5px;
	border-top: 2px solid #FF6300;
	margin-top: 20px;
	margin-left: 130px;
}

.announcementTitle {
	text-align: center;
	font-size: 1.5em;
	width: 800px;
	color: #777;
}



.startInfo {
	margin-top: 30px;
	text-align: center;
}

.aStartDate {
	display: inline-block;
	color: #777;
	font-size: 1.2em;
}

.aInfoContentWrapper {
	margin-left: 150px;
	margin-top: 40px;
	text-align: cetner;
}

.aInfoContent {
	float: left;
	width: 130px;
	text-align: center;
}

.aAddress {
	margin-top: 30px;
	text-align: center;
}

.aAddressImpact {
	color: #888;
}

.applyArea {
	margin-left: 350px;
	margin-top: 30px;
}

.chatInfo {
	width: 250px;
	float: left;
	padding-top: 0px;
	text-align: center;
	padding-left: 30px;
}


.lowerBtnArea {
	padding-left: 340px;
	margin-top: 40px;
}

.tHeaderImpact {
	background-color: #F7F7F7;
}


.dayColor {
	font-size: 0.7em;
	font-weight: bold;
	color: #FCCB64;
}


.storySubject {
	
	font-size: 0.9em;

}

.writer {
	color: #666;
	font-size: 0.9em;
}

.storyboardHeader {
	margin-top: 10px;
	margin-left: 100px;
	width: 700px;
	border-left: 5px solid #ddd;
	border-right: 5px solid #ddd;
	border-radius: 8px;
	height: 90px;	
	position: relative;
	
}

.storyTitle {
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 1.1em;
	font-weight: bold;
}

.storysubTitle {
	disaply: inline-block;
	position: absolute;
	top: 50px;
	left: 40px;
}


.boardInfo {
	display: inline-block;
	position: absolute;
	top: 50px;
	left: 560px;

}


.storyboardContent {
	
	margin-top: 80px;
	margin-left: 125px;
	width: 650px;
	min-height: 200px;	

	
	
}

.storyCommentlist {
	margin-left: 100px;
	width: 700px;	
}

.commentDate {
	font-size: 0.8em;
	color: #777;
}


.sendCommentArea {
	margin-left: 100px;
	width: 700px;	
	height:150px;
	position: relative;
}

.commentSendBtn {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 610px;
	top: 10px;
	background-color: #F0AD4E;
	color: white;
	border: 0;
	outline: 0;
	border-radius: 3px;
}