/* main.css */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.orange {
	color: #FF6300;
}

body, p, div, span, a, table, th, td, input, button, textarea, h1, h2, h3 {
	font-family: 'GmarketSansMedium';
}

body {
	margin: 0 auto;
	height: 100%;
	width: 1200px;
}

textarea {
	resize: none;
}