@charset "UTF-8";


/* 레시피 그리드 컨테이너 시작*/
.recipe-grid-container {
	width: 1200px;
	height: 700px;
	margin: 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* 레시피 메인화면 시작*/
#recipe-main .recipe-gbox {
	background: #222;
}

#recipe-main .recipe-gbox-one {
	background-image: url('/living/resources/images/refrigerator-renew.jpg');	
	background-position: -30px 0px;
	background-size: auto 100%;
}

#recipe-main .recipe-gbox-three {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
	background-position: -100px 0px;
	background-size: auto 100%;
}

#recipe-main .recipe-gbox-two {
	color: #FF6300;
	text-align: center;
	box-shadow: 0px 0px 20px 1px inset #111;
}

#recipe-main .recipe-gbox-two h1 {
	margin-top: 160px;
	margin-bottom: 30px;
}

#recipe-main .recipe-gbox-two p {
	font-family: 'GmarketSansLight';
	font-size: 0.95em;
	line-height: 1.8;
	margin-bottom: 30px;
}

#recipe-main .gbox-summary {
	height: 150px;
	background-color: rgb(255,255,255,0.7);
	margin: 275px auto;
	text-align: center;
	padding-top: 30px;
}

#recipe-main .gbox-summary a {
	font-family: 'GmarketSansBold';
	font-size: 3em;
	color: #225;
}

#recipe-main .recipe-gbox-three .gbox-summary a {
	color: transparent;
	background-image: url("https://media1.giphy.com/media/l41lVUCbHnMswK0ec/giphy.gif");
	background-size: cover;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	background-position: 10px 130px;
}

#recipe-main .gbox-summary a:hover {
	color: #FF6300;
	text-decoration: none;
}
/* 레시피 메인화면 끝*/

/* 냉장고 최신화 시작 */
#renew-refri .recipe-gbox {
	background: #fff8f2;
	padding: 0px 10px 10px 10px;
}

#renew-refri .recipe-gbox-two {
	background: #ffe7d2;
}

#renew-refri .recipe-gbox-three {
	background: #ffdcbf;
}

.recipe-cart {
	background: #FFF;
	height: 560px;
	border: 11px solid #EEE;
	border-right: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.recipe-cart > .recipe-ingre-item {
	width: 80px;
	height: 100px;
	text-align: center;
	background-image: url(/living/resources/images/recipe-tray.png);
	background-size: 80px 50px;
	background-repeat: no-repeat;
	float: left;
	margin: 30px 17.5px;
}

.recipe-cart > .recipe-ingre-item img {
	width: 60px;
	height: 47px;
	margin-bottom: 10px;
}

.recipe-cart > .recipe-ingre-item div:nth-child(2) {
	font-size: 1.2em;
}	

.recipe-etc {
	margin-top: 10px;
	float: right;
}

.btn:focus,
.btn:active {
	outline: none;
}

.recipe-etc .btn-info:focus {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.recipe-etc .btn-primary {
    background-color: #222;
    border-color: #222;
}

.recipe-etc .btn-primary:focus {
    background-color: #222;
    border-color: #222;
}

.modal-open { 
	overflow:auto;padding-right:0 !important; 
}

#etc-text {
	height: 200px;
	resize: none;
}

.recipe-recommended {
	padding: 10px;
}

.recipe-cart .col-md-4,
.recipe-cart .col-sm-6 {
	margin-left: 40px;
	width: 300px;
}

.recipe-cart .thumbnail img {
	width: 280px;
	height: 180px;
}

.recipe-cart .thumbnail {
	margin: 10px 0px;
	border-bottom: 1px solid #444;
}

.recipe-ingre-item:hover {
	cursor: pointer;
}
/* 냉장고 최신화 끝 */

/* 고수들의 레시피 시작 */
.recipe-board {
	text-align: center;
}

.recipe-board .thumbnail {
	text-align: center;
}

.recipe-board .thumbnail img {
	width: 280px;
	height: 200px;
}

#write-button {
	float: right;
	margin-top: -10px;
	margin-bottom: -30px;
}

.recipe-board nav {
	clear: both;
}
/* 고수들의 레시피 끝 */

/* 레시피 상세 페이지 시작 */
.recipe-info {
	margin-top: 30px;
}

.recipe-thumbnail {
	width: 293px;
	border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-right: 15px;
} 

.recipe-thumbnail img {
	width: 280px;
	height: 200px;
	margin: 5px;
}

.recipe-info table {
	width: -webkit-fill-available;
}

.recipe-info table tr {
	border-bottom: 1px solid #DDD;
}

.recipe-info table th {
	width: 100px;
	background-color: #EEE;
	padding-left: 10px;
}

.recipe-info table td {
	padding-left: 10px;
}

.recipe-info table tr:last-child {
	height: 170px;
}

#recipe-detail-container .recipe-cart {
	height: 182px;
}

#recipe-detail-container .recipe-ingre:hover {
	cursor: auto;
}

.recipe-order-detail img {
	width: 280px;
	height: 180px;
}

.recipe-order .carousel-inner img{
	width: 500px;
	height: 350px;
	margin: auto;
}

.recipe-order .carousel-caption {
	background-color: rgb(0,0,0,0.5);
}

.comment-section {
	width: 1200px;
	margin: auto;
}

.comment-section td {
	padding: 5px 5px 5px 15px;
}

.comment-section th:first-child {
	width: auto;
}

.comment-section th:last-child {
	width: 200px;
}

.comment-section tbody tr:nth-child(2n - 1) > td:first-child {
	background-color: #DDD;
	border-radius: 30px;
}

.comment-section tbody tr:nth-child(2n - 1) > td:last-child {
	border-bottom: 1px solid #DDD;
}

.comment-section tbody td:last-child {
	text-align: right;
}

#recipe-detail-container .btn-group {
	margin-top: 30px;
	float: right;
}

#recipe-detail-container:after {
	content: '';
	display: block;
	clear: both;
}
/* 레시피 상세 페이지 끝 */

/* 레시피 쓰기 시작 */
.add-ingre > .recipe-cart {
	height: 182px;
}

.add-ingre > .recipe-ingre-item:hover {
	cursor: auto;
}

#recipe-add-container button {
	float: right;
}

#add-btn {
	margin-top: -43px;
}

#recipe-add-container .btn-group {
	display: block;
}

#recipe-add-container .btn-group:after {
	content: '';
	display: block;
	clear: both;
}

#add-ingre-modal .recipe-cart {
	width: 500px;
	margin: auto;
}

#recipe-add-level {
	width: 30%;
}

.add-form-block {
	width: 50%;
	float: left;
}

.add-recipe-info:after {
	content: '';
	display: block;
	clear: both;	
}

.add-recipe-info .recipe-thumbnail {
	float: right;
}

#recipe-add-content {
	height: 200px;
	resize: none;
	overflow-y: scroll;
}

.add-recipe-order .btn-info {
    background-color: #444;
    border-color: #444;
}

.add-recipe-order .btn-info:focus {
    background-color: #444;
    border-color: #444;
}

#recipe-add-container #add-order-btn {
	float: none;
}

#add-orders-here {
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #CCC;
}

.added-order {
	padding: 5px;
	border: 1px solid #EEE;
}

#recipe-add-container .btn-group-ok {
	margin-top: 15px;
}

#recipe-add-container:after {
	content: '';
	display: block;
	clear: both;
}

.added-order:after {
	content: '';
	display: block;
	clear: both;	
}


/* 레시피 쓰기 끝 */





















