@charset "UTF-8";



.recipe-container {
	width: 1200px;
	height: 700px;
	margin: 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.recipe-gbox {
	background: #222;
}

.recipe-gbox-one {
	background-image: url('/living/resources/images/refrigerator-renew.jpg');	
	background-position: -30px 0px;
	background-size: auto 100%;
}

.recipe-gbox-three {
	background-image: url('/living/resources/images/recipe-gosu.jpg');
	background-position: -100px 0px;
	background-size: auto 100%;
}

.recipe-gbox-two {
	color: #FF6300;
	text-align: center;
	box-shadow: 0px 0px 20px 1px inset #111;
}

.recipe-gbox-two h1 {
	margin-top: 160px;
	margin-bottom: 30px;
}

.recipe-gbox-two p {
	font-family: 'GmarketSansLight';
	font-size: 0.95em;
	line-height: 1.8;
	margin-bottom: 30px;
}

.gbox-summary {
	height: 150px;
	background-color: rgb(255,255,255,0.7);
	margin: 275px auto;
	text-align: center;
	padding-top: 30px;
}

.gbox-summary a {
	font-family: 'GmarketSansBold';
	font-size: 3em;
	color: #225;
}


.recipe-gbox-three .gbox-summary a {
	color: transparent;
	background-image: url("https://media1.giphy.com/media/l41lVUCbHnMswK0ec/giphy.gif");
	background-size: cover;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	background-position: 10px 130px;
}

.gbox-summary a:hover {
	color: #FF6300;
	text-decoration: none;
}



































