
/* address.css */

@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, table, th, td, ul, ol, li, input, select, textarea, div, p, span, a, option, blockquote {
	font-family: 'Bazzi';
}

* {
	outline: none !important;
}

.container {
	width: 700px;
}

.container .header {
	
}

.container .content {
	/* 내용이 모자라면 높이를 600px로 유지하고, 내용이 넘치면 내용물에 따라 높이를 결정해라.(auto) */
	min-height: 600px;
}

.container .footer {
	margin-top: 20px;
	margin-bottom: 50px;
}


.short {
	width: 30%;
}

.medium {
	width: 60%;
}



















